@font-face {
  font-family: "Caviar Dreams";
  src: url("../font/CaviarDreams/CaviarDreams.eot");
  src: url("../font/CaviarDreams/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../font/CaviarDreams/CaviarDreams.woff2") format("woff2"), url("../font/CaviarDreams/CaviarDreams.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("../font/CaviarDreams/CaviarDreams-Bold.eot");
  src: url("../font/CaviarDreams/CaviarDreams-Bold.eot?#iefix") format("embedded-opentype"), url("../font/CaviarDreams/CaviarDreams-Bold.woff2") format("woff2"), url("../font/CaviarDreams/CaviarDreams-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquare";
  src: url("../font/Nanumsquare/NanumSquareR.eot");
  src: url("../font/Nanumsquare/NanumSquareR.eot?#iefix") format("embedded-opentype"), url("../font/Nanumsquare/NanumSquareR.woff2") format("woff2"), url("../font/Nanumsquare/NanumSquareR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumSquare";
  src: url("../font/Nanumsquare/NanumSquareB.eot");
  src: url("../font/Nanumsquare/NanumSquareB.eot?#iefix") format("embedded-opentype"), url("../font/Nanumsquare/NanumSquareB.woff2") format("woff2"), url("../font/Nanumsquare/NanumSquareB.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumMyeongjoExtraBold";
  src: url("../font/NanumMyeongjo/NanumMyeongjoExtraBold.eot");
  src: url("../font/NanumMyeongjo/NanumMyeongjoExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/NanumMyeongjo/NanumMyeongjoExtraBold.woff2") format("woff2"), url("../font/NanumMyeongjo/NanumMyeongjoExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-en: "Caviar Dreams";
  --font-kr: "NanumSquare";
  --font-title: "NanumMyeongjoExtraBold";
  --color-black: #333;
  --color-white: #fff;
  --max-width: 1440px;
  --responsive-width: calc(100% - 30px);
  --titleSize--pc-big: 3.6rem;
  --titleSize-tablet-big: 32px;
  --titleSize-mobile-big: 28px;
  --textSize-basic: 20px;
  --textSize-mobile-basic: 18px;
}

/* header */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999999;
}
.header .inner {
  max-width: 1440px;
  width: calc(100% - 30px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .inner h1 img {
  height: 30px;
}
.header .inner .gnb-pc .gnb {
  display: flex;
  font-size: 20px;
  font-family: var(--font-en);
  gap: 60px;
}
.header .inner .gnb-pc .gnb .depth01 {
  position: relative;
}
.header .inner .gnb-pc .gnb .depth01 > a {
  font-weight: bold;
  line-height: 80px;
}
.header .inner .gnb-pc .gnb .depth01 .depth02 {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: rgba(100, 55, 25, 0.815);
  z-index: 9;
  color: white;
  display: none;
}
.header .inner .gnb-pc .gnb .depth01 .depth02 li {
  padding: 15px 0;
  font-size: 1.8rem;
  text-align: center;
}
.header .inner .util {
  display: flex;
  gap: 15px;
}
.header .inner .util button img {
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .inner .search_box {
  width: 100%;
  background-color: rgba(100, 55, 25, 0.733);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 50px 50px;
  position: absolute;
  top: 80px;
  right: 0;
  display: none;
}
.header .inner .search_box .search_box_inner {
  max-width: 1440px;
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
}
.header .inner .search_box .search_box_inner input[type=text] {
  width: 98%;
  height: 40px;
  border: 0;
  padding: 0 20px;
}
.header .inner .search_box .search_box_inner img {
  height: 20px;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}
.header .inner .gnb-moblie {
  width: 40%;
  height: 100vh;
  position: fixed;
  top: 80px;
  right: -100%;
  background-color: rgba(100, 55, 25, 0.815);
  z-index: 999;
  padding: 50px 0;
}
.header .inner .gnb-moblie .gnb {
  max-width: 1440px;
  width: calc(100% - 30px);
  height: 100vh;
  margin: 0 auto;
  color: white;
}
.header .inner .gnb-moblie .gnb .gnb01 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 80px 0 50px;
}
.header .inner .gnb-moblie .gnb .gnb01 li {
  border-bottom: 1px solid white;
  padding: 5px;
}
.header .inner .gnb-moblie .gnb .gnb01 li > a {
  font-size: 1.8rem;
}
.header .inner .gnb-moblie .gnb .gnb02 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.header .inner .gnb-moblie .gnb .gnb02 .depth01 > a {
  font-size: 2.2rem;
  height: 50px;
  line-height: 60px;
  border-bottom: 1px solid #ccc;
  display: block;
  color: white;
}
.header .inner .gnb-moblie .gnb .depth01 .depth02 {
  display: none;
}
.header .inner .gnb-moblie .gnb .depth01 .depth02 li {
  font-size: 1.8rem;
  margin: 10px 0;
}
.header .inner .gnb-moblie .close-btn {
  position: absolute;
  top: 70px;
  right: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .header .inner .gnb-pc {
    display: none;
  }
  .header .inner .gnb-moblie {
    top: 70px;
  }
}
/* kakao btn ----- */
.kakao_btn figure {
  position: fixed;
  bottom: 10px;
  right: 40px;
  width: 60px;
  z-index: 99999999;
  transform: translateY(-50%);
}
.kakao_btn figure a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* section06 marquee */
.section06 .inner {
  max-width: 1920px;
  width: 100%;
}
.section06 .inner .marquee {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: content-box;
}
.section06 .inner .marquee .marquee-cont {
  display: inline-flex;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation: marquee 120s linear infinite;
}
.section06 .inner .marquee .marquee-cont .item {
  display: block;
  width: 17vw;
}
.section06 .inner .marquee .marquee-cont .item img {
  width: 100%;
  vertical-align: top;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* ---footer --- */
.footer .footer_inner {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 8rem auto;
}
.footer .footer_inner figure {
  width: 128px;
  height: 30px;
}
.footer .footer_inner figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer .footer_inner .footer_info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 100px;
}
.footer .footer_inner .footer_info strong {
  font-family: var(--font-en);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  display: block;
}
.footer .footer_inner .footer_info h3 {
  font-family: var(--font-en);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.footer .footer_inner .footer_info .service {
  text-align: center;
  font-family: var(--font-en);
  font-weight: bold;
  margin-top: 30px;
}
.footer .footer_inner .footer_info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}
.footer .footer_inner .footer_info .bank .util {
  margin-top: 30px;
}
.footer .footer_inner .footer_info .bank .util ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: unset;
}

@media screen and (max-width: 420px) {
  .footer .footer_inner .footer_info {
    padding-right: 80px;
  }
  .footer .footer_inner .footer_info .pc_info {
    display: none;
  }
  .footer .footer_inner .footer_info .service {
    text-align: unset;
  }
  .footer .footer_inner .footer_info .bank .util ul li {
    width: 30px;
    height: 30px;
  }
  .footer .footer_inner .footer_info .bank .util ul li img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer .footer_inner .footer_info .mobile_info {
    position: relative;
    display: block;
  }
  .footer .footer_inner .footer_info .mobile_info .info-mobile::after {
    content: "";
    width: 11px;
    height: 11px;
    background: url(../img/icon_downarrow.png) center/cover no-repeat;
    position: absolute;
    top: -2px;
    left: 85px;
  }
  .footer .footer_inner .footer_info .mobile_info .mob-list_wrap {
    display: none;
  }
  .footer .footer_inner .footer_info .mobile_info .mob-list_wrap .list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
  .footer .footer_inner .footer_info .mobile_info .mob-list_wrap .list ul:nth-child(2) {
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .footer .footer_inner .footer_info {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footer .footer_inner .footer_info .bank .util {
    margin-top: 10px;
  }
}/*# sourceMappingURL=common.css.map */