@charset "urf-8";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: normal;
}

h2 {
    font-family: var(--font-en);
}
h2,
h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: var(--titleSize--pc-big);
    font-family: var(--font-en);
    font-weight: bold;
}

h5 {
    font-size: 10rem;
    font-family: var(--font-title);
    font-weight: bold;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

body {
    line-height: 1;
    color: #333;
    font-family: var(--font-kr);
    font-weight: normal;
    overflow-x: hidden;
}

html,
body {
    font-size: 62.5%;
}